@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
    --body-color: #0f0a06;
    --white-color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #373737;
    overflow: hidden;
}

.app{
    text-align: center;
    font-family: "poppins";
    color: var(--white-color);
    font-size: 1.8em;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.greeting-section {
    position: absolute;
    top: 30px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.content{
    width: 1000px; height: 1000px;
    display: flex;
    justify-content:space-around ;
}

.container {
    position: relative; 
    width: 550px; height: 450px;
    background-color: #1f1f1f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.funding {
    display: flex;
    align-items: center;
}

.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.wave{
    position: absolute;
    left: 0;
    width: 200%; height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.wave-1{
    background-size: 50% 80%;
    opacity: 30%;
    animation: animate2 10s linear infinite;
    z-index: -10;
}
.wave-2{
    background-size: 50% 100%;
    opacity: 50%;
    animation: animate2 12s linear infinite;
}
.wave-3{
    background-size: 50% 80%;
    animation: animate3 18s linear infinite;
}

button {
    font-family: "poppins";
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

label {
    font-size: 22px;
    font-family: "poppins";
    display: block;
    color: var(--white-color);
    margin: 10px 10px 10px 0;
    white-space: nowrap;
}

input {
    font-family: "poppins";
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

#ethAmount {
    width: 80%;
}

#connectButton {
    background-color: #4285F4;
}

#balanceButton {
    background-color: #f39c12;
}

#withdrawButton {
    background-color: #e74c3c;
}

#fundButton {
    background-color: #3498db;
}
#getOwnerButton {
    background-color: #4285F4;
}

@keyframes animate2 {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.5);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.5);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}