@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    /* background: radial-gradient(circle, transparent 0%, transparent 70%, #fefefe 70%, #909090); */
    background-color: #fefefe;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    min-height: 100vh;
    margin-top: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.menu{
    position: absolute;
    z-index: 12;
    top: 45px;
    left: 110px;
}

.menu-options {
    z-index: 12;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    transition: opacity 0.3s, transform 0.3s;
}

.menu-options ul{
    list-style-type: none;
    padding: 0;
    margin: 0px;
    display: flex;
}
.menu-options li{
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Unbounded', sans-serif;
}
.menu-options li a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease;
}
.menu-options li a:hover{
    transform: translateX(0) scale(1.4);
}

#menu-icon{
    z-index: 12;
    cursor: pointer;
}
#menu-icon img{
    rotate: 90deg;
    height: 50px;
    width: 18px;
    transition: box-shadow 0.3s ease-in-out, 
    opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#menu-icon img:hover{
    transform: scale(1.4);
}

.title{
    position: absolute;
    top: 130px;
    left: 200px;
}
.title h3{
    position: absolute;
    font-size: 60px;
    font-family: 'Quantico', sans-serif;
    top: 40px;
    left: 100px;
}

#nft-word{
    position: absolute;
    height: 70px;
    width: 400px;
}

.mascot{
    position: absolute;
    top: 100px;
    left: 880px;
}

#nft_1{
    position: absolute;
    height: 550px;
    width: 550px;
    z-index: 2;
}
#nft_2{
    position: absolute;
    height: 550px;
    width: 550px;
    z-index: 1;
}
#nft_3{
    position: absolute;
    height: 550px;
    width: 550px;
    z-index: 3;
}

.turnCCW {
    animation: TurnCCW 0.5s forwards;
}
@keyframes TurnCCW {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-90deg);
    }
}

.turnCW {
    animation: TurnCW 0.5s forwards;
}
@keyframes TurnCW {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0);
    }
} 

.float1 {
    animation: Float1 3s ease-in-out infinite;
}
@keyframes Float1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0);
    }
} 

.float2 {
    animation: Float2 7s linear infinite;
}
@keyframes Float2 {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-0.5%) translateY(-1%);
    }
    75%{
        transform: translateX(0.5%) translateY(1%);
    }
} 

.float3 {
    animation: Float3 5s linear infinite;
}
@keyframes Float3 {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    25%{
        transform: translateX(1%) translateY(-0.2%);
    }
    75%{
        transform: translateX(-1%) translateY(0.2%);
    }
} 

.slide-in {
    animation: Slide 1s forwards;
}
@keyframes Slide {
    from {
        transform: translateX(-1000%);
    }
    to {
        transform: translateX(0);
    }
}