@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    min-height: 100vh;
    margin-top: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.menu{
    position: absolute;
    z-index: 12;
    top: 45px;
    left: 110px;
}

.menu-options {
    z-index: 12;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    transition: opacity 0.3s, transform 0.3s;
}

.menu-options ul{
    list-style-type: none;
    padding: 0;
    margin: 0px;
    display: flex;
}
.menu-options li{
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Unbounded', sans-serif;
}
.menu-options li a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease;
}
.menu-options li a:hover{
    transform: translateX(0) scale(1.4);
}

#menu-icon{
    z-index: 12;
    cursor: pointer;
}
#menu-icon img{
    rotate: 90deg;
    height: 50px;
    width: 18px;
    transition: box-shadow 0.3s ease-in-out, 
    opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#menu-icon img:hover{
    transform: scale(1.4);
}

.title{
    position: absolute;
    top: 130px;
    left: 200px;
}
.title h3{
    position: absolute;
    font-size: 60px;
    font-family: 'Quantico', sans-serif;
    top: 40px;
    left: 55px;
}

.title p{
    position: absolute;
    font-size: 18px ;
    font-family: 'Unbounded', sans-serif;
    top: 180px;
    left: -50px;
    width: 550px;
}

#nft-word{
    position: absolute;
    height: 70px;
    width: 400px;
    left: -50px;
}

.mascot{
    position: absolute;
    top: 60px;
    left: 880px;
}

#nft_1{
    position: absolute;
    height: 550px;
    width: 550px;
    z-index: 2;
}
#nft_2{
    position: absolute;
    height: 550px;
    width: 550px;
    z-index: 1;
}
#nft_3{
    position: absolute;
    height: 550px;
    width: 550px;
    z-index: 3;
}

.funding-container{
    position: absolute;
    top: 480px; left: 150px;
}

.funding-container button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Unbounded', sans-serif;
    white-space: nowrap;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, 
    opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#fundButton {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: transparent;
    box-shadow: 0px 6px 20px rgb(173, 237, 113);
    background-color: rgb(183, 240, 84);
}
#fundButton:hover {
    box-shadow: 0px 6px 30px rgb(173, 237, 113);
    opacity: 0.95;
    transform: scale(1.2);
}
#learn {
    width: 200px;
    height: 45px;
    border-radius: 20px;
    margin-left: 25px;
    border: 2px solid rgba(0, 0, 0, 0.079);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.201);
    background-color: transparent;
}
#learn:hover {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.289);
    opacity: 0.95;
    transform: scale(1.2);
}

.balanceDisplay {
    position: absolute;
    white-space: nowrap;
    top: 620px;
    left: 150px;
    font-family: 'Quantico', sans-serif;
    font-size: 23px;
}

.funderDisplay {
    position: absolute;
    white-space: nowrap;
    top: 620px;
    left: 490px;
    font-family: 'Quantico', sans-serif;
    font-size: 23px;
}

.turnCCW {
    animation: TurnCCW 0.5s forwards;
}
@keyframes TurnCCW {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-90deg);
    }
}

.turnCW {
    animation: TurnCW 0.5s forwards;
}
@keyframes TurnCW {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0);
    }
} 

.float1 {
    animation: Float1 3s ease-in-out infinite;
}
@keyframes Float1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0);
    }
} 

.float2 {
    animation: Float2 7s linear infinite;
}
@keyframes Float2 {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-0.5%) translateY(-1%);
    }
    75%{
        transform: translateX(0.5%) translateY(1%);
    }
} 

.float3 {
    animation: Float3 5s linear infinite;
}
@keyframes Float3 {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    25%{
        transform: translateX(1%) translateY(-0.2%);
    }
    75%{
        transform: translateX(-1%) translateY(0.2%);
    }
} 

.slide-in {
    animation: Slide 1s forwards;
}
@keyframes Slide {
    from {
        transform: translateX(-500%);
    }
    to {
        transform: translateX(0);
    }
}


/* pop up section */
.popup-container {
    display: none;
    position: fixed;
    top: -150px;
    left: 300px;
    font-family: 'Quantico', sans-serif;
    transform: translate(-50%, -50%);
    height: 215px;
    width: 550px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 901;
    position: relative;
}

.group {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.group p{
    position: absolute;
    text-align: left;
    height: 10px;
    width: 265px;
    bottom: 50px;
    left: -165px;
}

#popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#overlay {
    display: none;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900; 
}

.eth-in-group {
    position: absolute;
    width: 168px;
    top: 30px; 
    left: -165px;
    font-family: 'Quantico', sans-serif;
    --primary: #000000;
}
.eth-in {
    all: unset;
    color: #000000;
    width: 168px;
    height: 8px;
    padding: 1rem;
    border: 1px solid #545454;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    color: #757575;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.eth-in:focus {
    border: 1px solid var(--primary);
}
.eth-in:focus ~ .label, 
.eth-in.has-value ~ .label{
    transform: translateY(-90%) translateX(-10%) scale(0.7);
    background-color: #ffffff;
    padding-inline: 0.3rem;
    color: var(--primary);
}

#crystal {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -120px;
    right: 150px;
    opacity: 0.8;
}

#fund {
    position: absolute;
    padding: 8px;
    width: 100px;
    height: 41px;
    top: 30px;
    left: 40px;
    font-family: 'Quantico', sans-serif;
    background-color: rgb(183, 240, 84);
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, 
    opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#fund:hover {
    opacity: 0.75;
}

/* Account tab */
.account-section {
    display: none;
    position: fixed;
    top: 140px;
    left: 200px;
    font-family: 'Quantico', sans-serif;
    font-size: 23px;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 902;
    position: relative;
    overflow: hidden;
}

#top-popup-decor{
    position: absolute;
    left: 2px;
    top: -10px;
    height: 115px;
    width: 345px;
}

.acc-compartment{
    position: absolute;
    top: 45px;
    left: 65px;
}

.account-section ul {
    list-style-type: none;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.account-section li {
    box-sizing: border-box;
    display: flex;
    flex: 2;
    padding: 20px;
    border: none; 
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.account-section li:hover{
    transform: scale(1.2);
}

/* Social-Navi*/
.social-navi ul {
    position: absolute;
    display: flex;
    list-style: none;
    gap: 2rem;
    right: 100px;
    bottom: 70px;
  }
  
.item a {
    text-decoration: none;
    width: 4.8rem;
    height: 4.8rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid #e2e2e2;
    overflow: hidden;
  }
  
.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
  }
  
.item:hover a::before {
    scale: 1 1;
  }
  
.icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
  }
  
.item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
.item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }
.item:nth-child(2) {
    --bg-color: #0077b5;
  }
.item:nth-child(3) {
    --bg-color: #316FF6;
  }
.item:nth-child(4) {
    --bg-color: #000;
  }
  